# Shell
# Reload config
alias reload="source ~/.bashrc"
alias ..="cd .."
# Use color when interactive
alias grep="grep --color=auto"
alias ls="ls --color=auto"
alias diff="diff --color=auto"
alias la="ls -A --color=auto"
alias c="clear"

# Paths
alias repo="cd ~/Projects/Exordium/"
alias repo1="cd ~/Projects/Exordium/config_dotfiles/config"

# Applications
alias mp="mousepad"
alias sound="wpctl"